<% if @task.errors.any? %>
<h3 class="text-center">Oooops something went wrong:</h3>

    <% @task.errors.full_messages.each do |msg| %>
        <p class="text-center"><%= msg %></p>
    <% end %>

<% end %>

<%= simple_form_for @task, html: {class: 'form-signin'} do |f| %>
    <%= f.input :content, label: false, placeholder: 'Content', autofocus:true, :error => false %>

    <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>
<p></p>
<p class='text-center'><%= link_to 'All tasks', tasks_path %></p>