<h1>To Do</h1>

<p><%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %></p>

<table>
    <tr>
        <th> Content </th>
        <th> State </th>
    </tr>

    <% @to_do.each do |task| %>
        <tr>
            <td><%= task.content %></td>
            <td><%= task.state %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></td>
        </tr>
    <% end %>
</table>


<h1>Doing</h1>

<table>
    <tr>
        <th> Content </th>
        <th> State </th>
    </tr>

    <% @doing.each do |task| %>
        <tr>
            <td><%= task.content %></td>
            <td><%= task.state %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></td>
        </tr>
    <% end %>
</table>


<h1>Done</h1>

<table>
    <tr>
        <th> Content </th>
        <th> State </th>
    </tr>

    <% @done.each do |task| %>
        <tr>
            <td><%= task.content %></td>
            <td><%= task.state %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></td>
        </tr>
    <% end %>
</table>