

<div class="form-signin">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span><%= time_ago_in_words(@task.created_at) %> ago </span>
            <%= link_to 'X', task_path(@task), method: :delete, data: {confirm: 'Are you sure you want to Delete?'}, class: 'pull-right' %>
        </div>    
        <div class="panel-body"><%= @task.content %></div>
        <div class="panel-footer">
            <div class="btn-group btn-group-justified">
                <%= link_to 'All Tasks', tasks_path, class: 'btn btn-info btn-block'  %>
                <%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-info btn-block' %>
            </div>
        </div>
    </div>
</div>