
<%= nav_bar fixed: :top, brand: "<img src='/favicon.png' hieght='20px' width='20px' style='margin-bottom: 5px;'> Listed".html_safe , responsive: true do %>
    <%= menu_group pull: :right do %>
      <% if current_user %>
        <li><%= link_to 'New Task', new_task_path %></li>
        <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
    <% end %>
<% end %>